<div class="header">
  <div class="header__title">
    <div class="back">
      <div class="back-left"></div>
      <div class="back-right"></div>
    </div>
    <div>
      <h1><span>to</span>do</h1>
      <p>list</p>
    </div>
  </div>
  <div class="header__menu">
    <div class="header__menu__nav">
      <ul>
        <li>home</li>
        <li>tasks</li>
      </ul>
    </div>
    <div class="header__menu__auth">
      <button class="login">login</button>
      <button class="logout">logout</button>
    </div>
  </div>
</div>

